<section class="servico">
        <p>Prestador: <%= servico.prestador%></p>
        <p>E-mail: <%= servico.email%></p>
        <p>Telefone: <%= servico.telefone%></p>
        <p></p>
        <p>Períodos: <%= servico.periodoDeAtendimento%></p>
        <p>Serviço: <%= servico.descricaoDoServico%></p>
        <p></p>
        <a href="/resultado"><button class="btn2">Voltar</button></a>
</section>